// Media queries breakpoints
$breakpoints: (
        phone-xs: 320px,
        phone: 360px,
        phone-xl: 480px,
        tablet: 768px,
        desktop-xs: 1024px,
        desktop: 1200px,
        desktop-xl: 1500px
);
