@font-face {
    font-family: 'poppins';
    src: url('../../assets/fonts/poppins/Poppins-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('../../assets/fonts/poppins/Poppins-Italic.otf') format('otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'poppins';
    src: url('../../assets/fonts/poppins/Poppins-Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
}
