@use '../abstracts/functions' as f;

.icon {
    cursor: pointer;
    --icon-transition: all 0.08s ease;

    &-16 {
        width: 16px;
        height: 16px;
    }
    &-24 {
        width: 24px;
        height: 24px;
    }
    &-32 {
        width: 32px;
        height: 32px;
    }
    &-48 {
        width: 48px;
        height: 48px;
    }
    &--empty {
        --icon-fill: none;
    }
    &--pink {
        --icon-fill: #{f.c(primary-pink)};
    }
    &--red {
        --icon-fill: #{f.c(red)};
    }
    &--grey {
        --icon-fill: #{f.c(grey)};
    }
}
