@use '../abstracts/functions' as f;

$contentMaxWidth: 1224px;
.container {
    display: block;
    width: 100%;
    padding: f.rem(32);
}

.wrap {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: $contentMaxWidth;
}
