@use "../../../scss/abstracts" as a;

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: a.rem(48);
    font-weight: bold;
    height: 100vh;
}
.heart {
    position: relative;
    display: inline-block;
    animation: pulse 1s ease infinite;
}
.back {
    position: absolute;
    bottom: a.rem(32);
    left: 50%;
    transform: translateX(-50%);
    font-size: a.rem(24);
    color: a.c(black);
    @include a.transition(all, 0.2s, a.e(easeOutQuad));
    --icon-fill: none;
    &:hover {
        color: #{a.c(primary-pink)};
        --icon-stroke: #{a.c(primary-pink)};
    }
    app-icon {
        display: inline-block;
        vertical-align: middle;
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
