<div class="container main">
    <div>
        J'ai un secret à te dire...
        <span class="discover" >Tu veux savoir c'est quoi ?</span>
    </div>
    <a routerLink="/cocotte" class="link" routerLink="/cocotte"><span>Clique ici</span>
        <app-icon class="icon icon-16" [name]="'heart'"></app-icon>
    </a>
</div>
